@inject NavigationManager navigationManager
@inject Blazored.LocalStorage.ILocalStorageService storage
<div class="card city-card-component">
    <img src="data:image/jpeg; base64, @city.ImageInBase64" class="card-img-top" alt="..." style="height: 200px;">
    <div class="card-body" style="height: 200px;">
        <h5 class="card-title">@city.Name</h5>
        <p class="card-text" style=" overflow-y:auto; max-height: 120px;">@city.Description</p>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" style="margin-left:40px;" @onclick="FindFlights">Найти доступный рейс</button>
    </div>
</div>


@code {
    [Parameter] public City city { get; set; }
    Flight searchFlight;

    public async Task FindFlights()
    {
        searchFlight = new Flight(city.Name);
        await storage.SetItemAsync<Flight>("SearchFlight", searchFlight);
        navigationManager.NavigateTo("flights");
    }
}
