@page "/control-panel"

<div class="row" style="margin-left:100px;">
    <div class="col" style="">
        <AddFlightComponent></AddFlightComponent>
    </div>
    <div class="col" >
        <AddCityComponent></AddCityComponent>
    </div>
</div>
<div class="all-users-component">
    <br />
    <h3 style="text-align: center">Все пользователи</h3>
    <AllUsersComponent></AllUsersComponent>
</div>

