@inherits LayoutComponentBase

<div class="page" style="background: linear-gradient(lightblue 70%, deepskyblue);">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <div class="main">
        <div class="top-row px-4">
            <RadzenButton Text="Sign in!" Style="background-color: deepskyblue;" ></RadzenButton>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
