@page "/profile"
@inject Blazored.LocalStorage.ILocalStorageService storage


@if (currentUser != null)
{
    <div class="row">
        <div>
            <div calss="col my-profile">
                <h3 style="text-align:center">Мои данные</h3>
                <div>
                    <div class="card border-info mb-3 profile-card">
                        <div class="card-body">
                            <h3>Имя: 
                                <p>@currentUser.Name</p></h3>
                            <h3>Фамилия: 
                                <p>@currentUser.Surname</p></h3>
                            <h3>Отчество: 
                                <p>@currentUser.Patronymic</p></h3>
                            <h3>Дата рождения: @currentUser.DayOfBirth.ToString("dd.MM.yyyy")</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" style="margin-left:100px; margin-top: 50px;">
            <h3 style="text-align:center">Мои билеты</h3>
            <MyTickets></MyTickets>
        </div>
    </div>


}

@code {


    public User currentUser { get; set; }

    protected override async Task OnInitializedAsync()
    {
        currentUser = await storage.GetItemAsync<User>("CurrentUser");
    }
}
