@page "/registration"

<div style="width:400px; margin-left:auto; margin-right:auto;">
    <form>
        <h3 style="margin-left:10px;">Логин:</h3>
        <input class="form-control form-control-lg" type="text" style="margin-bottom:10px;"
               @bind-value="Login" required />
        <h3 style="margin-left:10px;">Пароль:</h3>
        <input type="password" class="form-control form-control-lg" style="margin-bottom:10px;"
               @bind-value="Password" required />
        <h3 style="margin-left:10px;">Имя:</h3>
        <input class="form-control form-control-lg" type="text" style="margin-bottom:10px;"
               @bind-value="Name" required />
        <h3 style="margin-left:10px;">Фамилия:</h3>
        <input class="form-control form-control-lg" type="text" style="margin-bottom:10px;"
               @bind-value="Surname" required />
        <h3 style="margin-left:10px;">Отчество:</h3>
        <input class="form-control form-control-lg" type="text" style="margin-bottom:10px;"
               @bind-value="Patronymic" required />
        <h3 style="margin-left:10px;">Дата рождения:</h3>
        <RadzenDatePicker @bind-Value="DayOfBirth" DateFormat="d" Style="width:100%;height:50px;" />
       
        <input type="submit" class="btn btn-primary" style="width:100%; height:50px;" value="Зарегистрироваться">
    </form>
    
</div>




@code {
    public string Login { get; set; }
    public string Password { get; set; }
    public string Name { get; set; }
    public string Surname { get; set; }
    public string Patronymic { get; set; }
    public DateTime DayOfBirth { get; set; }

    public void ToRegister()
    {
        
        var client = new MongoClient("mongodb://localhost");
        var db = client.GetDatabase("TicketOffice");
        var coll = db.GetCollection<User>("Users");
    }
}
