@page "/counter"

<div class="container" style="position:relative; margin-left:auto; margin-right:auto; margin-top:200px; text-align:center; background-color:azure; height:fit-content; width:fit-content;">
    

    <img src="/max.png"/ style="width:100%;">
    <div class="top-right">sssss</div>
    <div style="position:absolute;"> 
        <a href="Profile">ssilka</a>
    </div>

</div>


@code {
   
}
