@page "/"

 
<div class="row" style="margin-left: 200px; margin-top: 300px; margin-right: 200px ;background-color: lightblue">
    <div class="col-2" style="margin-left: auto">
        <h3 style="text-align:center">Откуда?</h3>
        <RadzenDropDownDataGrid TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true"
                                Data="availableCities" Style="width:100%;height: 50px;" />
    </div>
    <div class="col-2">
        <h3 style="text-align:center">Куда?</h3>
        <RadzenDropDownDataGrid TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true"
                                Data="availableCities" Style="width:100%; height: 50px; text-align: center;" />
    </div>
    <div class="col-2">
        <h3 style="text-align:center">Когда?</h3>
        <RadzenDatePicker TValue="DateTime" DateFormat="d" Style="width: 100%; height: 50px;"></RadzenDatePicker>
    </div>
    <div class="col-2">
        <h3 style="text-align:center">Каким классом?</h3>
        <RadzenDropDownDataGrid TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true"
                                Data="@ticketClasses" Style="width:100%; height: 50px; text-align: center;" />
    </div>
    <div class="col-2" style="margin-right:auto">
         <h3><br /></h3>
        <RadzenButton Text="Поиск" Style="width: 100%; height: 50px; text-align: center; background-color:deepskyblue" ></RadzenButton>
    </div>
</div>



@code{
    //создать коллекцию в БД, а затем привязать ее к листу
    List<string> availableCities = new List<string>() { "Москва", "Санкт-Петербург", "Казань", "Краснодар" };

    List<string> ticketClasses = new List<string>() { "Первый класс", "Бизнес-класс", "Эконом-класс" };

}
