@page "/"
@inject NavigationManager navigationManager


<div class="row" style="margin-left: 200px; margin-top: 300px; margin-right: 200px ;background-color: lightblue">
    <div class="col-2" style="margin-left: auto">
        <h3 style="text-align:center">Откуда?</h3>

        <RadzenDropDownDataGrid TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true"
                                Data="availableCities" Style="width:100%;height: 50px;" 
                                @bind-Value="PointOfDeparture"/>
    </div>
    <div class="col-2">
        <h3 style="text-align:center">Куда?</h3>
        <RadzenDropDownDataGrid TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true"
                                Data="availableCities" Style="width:100%; height: 50px; text-align: center;"
                                @bind-Value ="PointOfDestination"/>
    </div>
    <div class="col-2">
        <h3 style="text-align:center">Когда?</h3>
        <RadzenDatePicker TValue="DateTime" DateRender=@DateRender DateFormat="d" Style="width: 100%;
                                height: 50px;" @bind-Value="Date"></RadzenDatePicker>
    </div>
    <div class="col-2">
        <h3 style="text-align:center">Каким классом?</h3>
        <RadzenDropDownDataGrid TValue="string" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                AllowFiltering="true" AllowClear="true"
                                Data="@ticketClasses" Style="width:100%; height: 50px; text-align: center;" 
                                @bind-Value="ClassType"/>
    </div>
    <div class="col-2" style="margin-right:auto">
        <h3><br /></h3>
        <RadzenButton Text="Поиск" Style="width: 100%; height: 50px; text-align: center; background-color:deepskyblue"
                      @onclick="SearchButtonAction"></RadzenButton>
        
    </div>
</div>



@code{
    public string PointOfDestination { get; set; }
    public string PointOfDeparture { get; set; }
    public DateTime Date { get; set; }
    public string ClassType { get; set; }
    //создать коллекцию в БД, а затем привязать ее к листу
    List<string> availableCities = new List<string>() { "Москва", "Санкт-Петербург", "Казань", "Краснодар" };

    List<string> ticketClasses = new List<string>() { "Первый класс", "Бизнес-класс", "Эконом-класс" };

    bool IsUserLogged;

    //реализовать выборку даты только с сегодняшнего дня
    IEnumerable<DateTime> dates = new DateTime[] { DateTime.Today.AddDays(-1), DateTime.Today.AddDays(-1)};

    void DateRender(DateRenderEventArgs args)
    {
        args.Disabled = dates.Contains(args.Date.AddDays(DateTime.Today.ToOADate()));

    }

    private void SearchButtonAction()
    {
        if(IsUserLogged)
        {
            var client = new MongoClient("mongodb://localhost");
            var database = client.GetDatabase("TicketOffice");
            var collection = database.GetCollection<Ticket>("Tickets");
            Ticket ticket = new Ticket(PointOfDeparture, PointOfDestination, Date, ClassType);
            collection.InsertOneAsync(ticket);

        }
        else
        {
            navigationManager.NavigateTo("profile");
        }
    }
    }
